<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Forgot your password?</h2>
    </div>
  </div>    
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="account_grid">
    <div class="col-md-6 forgot-right">  

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Send me reset password instructions", class: "login-btn" %>
      </div>
      <% end %>
    </div>
  </div>
     <div class="col-md-6 member-left">
      <h4>Already Our Member?</h4>
      <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
      <a class="acount-btn" href="/users/sign_in">Log In</a>
    </div>


  </div>

</div>
</div>