<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="team.css" media="all" type="text/css">
</head>


<!--add-starts-->
  <div class="add" id="advantages"> 
    <div class="container">
      <div class="add-top heading">
        <h3>Our Advantages</h3>
        <p>Donec eu aliquam eros. Integer consequat purus ac lorem finibus vestibulum. Donec pulvinar purus a nibh tempus convallis. Sed scelerisque posuere maximus.</p>
      </div>
      <div class="add-bottom">
        <div class="add-one">
          <div class="col-md-3 add-left"> 
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2d1ac5ddbbda4d338561ba4430a5a798_imk4ps.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>01</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/HMS_3681_webSD_adtyfm.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>02</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="add-two">
          <div class="col-md-3 add-left a-l"> 
            <h4>03</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/42e14d9ad50a40c39f142d522263ca88_h9papc.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>04</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>            
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/c10fe38d299e420e82642a1024a26d29_eidj1v.jpg" alt="" />
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--add-end-->




<!-- this section wraps the team members as a container-->

<section class="cf team-container">
  <h1 class="team-h1">Our Team</h1>

    <!-- member-->  
    <div class="team-member">
      <img class="team-photo" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2d1ac5ddbbda4d338561ba4430a5a798_imk4ps.jpg">
      <h3>Eric Ju Yoon Kim</h3>
      <h4>CEO</h4>
      <span>University of Washington Entrepreneurship</span>      
    </div>


    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/HMS_3681_webSD_adtyfm.jpg">
      <h3>Ki Seong</h3>
      <h4>CTO</h4>
      <span>University of Utah Electrical engineering</span>      
    </div>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/42e14d9ad50a40c39f142d522263ca88_h9papc.jpg">
      <h3>Mason Ju</h3>
      <h4>CDO / Design</h4>
      <span>"Less but better"</span>      
    </div>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/c10fe38d299e420e82642a1024a26d29_eidj1v.jpg">
      <h3>Roy Ji Ho Kim</h3>
      <h4>COO</h4>
      <span>Magnet, hardware expert 25years of experience</span>      
    </div>


    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/9d4a1d7ccd2b48e8910d4cb2e2cc1ab1_vggggn.jpg">
      <h3>H.C Park</h3>
      <h4>R&D head /Hardware</h4>
      <span>Micro actuator specialist 20years of experiences</span>      
    </div>
  
 </section>
 </html>