<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">

</head>
<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Our Dot Team</h2>
        <h3 class="caption gray">"We strive to reduce the invisible discrimination against people living with blindness in information accessibility."</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2d1ac5ddbbda4d338561ba4430a5a798_imk4ps.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Eric Ju Yoon Kim</h4>
              <h5>CEO</h5>
              <h6>University of Washington<br>Entrepreneurship<h6>
            </div><!-- /.team-member-->
          </div><!-- /col-xs-6 col-sm-3-->

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/HMS_3681_webSD_adtyfm.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Ki Seong</h4>
              <h5>CTO</h5>
              <h6>University of Utah <br> Electrical engineering<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/42e14d9ad50a40c39f142d522263ca88_h9papc.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Mason Ju</h4>
              <h5>CDO / Design</h5>
              <h6>"Less but better"<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/c10fe38d299e420e82642a1024a26d29_eidj1v.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Roy Ji Ho Kim</h4>
              <h5>COO / Hardware</h5>
              <h6>Magnet, hardware expert<br>25years of experience <h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3-->
          <div class="clearfix"> </div>


          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2fafeec5dc4c4a16b48424346ff3daed_gl5hv2.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>H.C Park</h4>
              <h5>R&D Head / Actuator</h5>
              <h6>Micro actuator specialist<br>20years of experience<h6>
            </div><!-- /.team-member-->
          </div><!-- /col-xs-6 col-sm-3-->

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/d253bbbb47264138a7d237e10b5a630a_lsevg9.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>E. S Kang</h4>
              <h5>General Manager / Actuator</h5>
              <h6>Micro product design specialist<br>20years of experience<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/KTW_8665-3_a5ba99.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>John Ahn</h4>
              <h5>Engineer / Actuator</h5>
              <h6>Seoul National University of <br>Science &Technology<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/ad4add7e3d7d4814bffcaec67cec6388_m7uaid.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Chris Cho</h4>
              <h5>CMO / Sales&Marketing</h5>
              <h6>Hyundai group<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3-->
          <div class="clearfix"> </div>

          <div class="col-md-3 add-left ">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/3da5162f63574677b700002b40487fef_amnsbh.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Ah Rum Choi</h4>
              <h5>Manager / PR & Marketing</h5>
              <h6>Korea university<h6>
            </div><!-- /.team-member-->
          </div><!-- /col-xs-6 col-sm-3-->

          <div class="col-md-3 add-left">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/e7b53fcdf764487b852488bf3697d581_rxr1wg.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Doo Chang</h4>
              <h5>Assistant / Marketing</h5>
              <h6>Korea university<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/KTW_8432-3_fbiba9.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Peter Jung</h4>
              <h5>Software</h5>
              <h6>Handong Global university<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3 -->

          <div class="col-md-3 add-left">
            <div class="team-member">
              <figure>
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/a25bf708be084ae89f694b71250718e5_uknxjw.jpg" alt="" class="img-responsive">                
              </figure>
              <h4>Richie Dan</h4>
              <h5>Software</h5>
              <h6>University of Newcastle<h6>
            </div><!-- /.team-member-->
          </div><!-- /.col-xs-6 col-sm-3-->
          <div class="clearfix"> </div>







        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->


 </html>