<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="team.css" media="all" type="text/css">
</head>


<!--add-starts-->
  <div class="add" id="advantages"> 
    <div class="container">
      <div class="add-top heading">
        <h3>The Dot Team</h3>
        <p>"We strive to reduce the invisible discrimination against people living with blindness in information accessibility."</p>
      </div>
      <div class="add-bottom">
        <div class="add-one">
          <div class="col-md-3 add-left"> 
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2d1ac5ddbbda4d338561ba4430a5a798_imk4ps.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>01</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/HMS_3681_webSD_adtyfm.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>02</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="add-two">
          <div class="col-md-3 add-left a-l"> 
            <h4>03</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/42e14d9ad50a40c39f142d522263ca88_h9papc.jpg" alt="" /> 
          </div>
          <div class="col-md-3 add-left a-l">
            <h4>04</h4>
            <h5>Donec pulvinar purus</h5>
            <p>Pellentesque a nulla sit amet nulla rhoncus lacinia</p>            
          </div>
          <div class="col-md-3 add-left">
            <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/c10fe38d299e420e82642a1024a26d29_eidj1v.jpg" alt="" />
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--add-end-->
<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Our Team</h2>
        <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="http://i.imgsafe.org/6a5b608.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Lauren Cox</h4>
              <p>Creative Director</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="http://i.imgsafe.org/6c94c4f.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Jessie Barnett</h4>
              <p>UI/UX Designer</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="http://i.imgsafe.org/6f46db5.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Terry Fletcher</h4>
              <p>Web Developer</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->


        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->


 </html>