<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="careers.css" media="all" type="text/css">      
</head>
<body>
<div class='container'>
    <section class='splash'>
      <div class='volcano'>
        <h1 class='splash-title'><strong>Dot Incorporation</strong></h1>
        <h2 class='splash-subtitle'><u>Notes to Recruiters</u></h2>
        <div class='content'>
          <p>Are you trying to contact me in relation to a role you have?</p>
          <p>I'd love to hear from you, but I do have a small number of prerequisits we need to agree on before I am willing to spend time talking with you.</p>
          <hr>
          <h3 class='splash-subtitle'>What is the job title?</h3>
          <p>This gives a fair indicator of whether the job matches my skillset, and is something I may be interested in.</p>
          <hr>
          <h3 class='splash-subtitle'>What is the Salary Range?</h3>
          <p>I'm not interested below a certain rate, but equally would not be appropriate for higher rates.</p>
          <hr>
          <h3 class='splash-subtitle'>What is the Location?</h3>
          <p>The UK is a big place.  I'm not willing to travel to certain areas, so lets find out early if it's in a location I could possibly get to.</p>
          <hr>
          <h3 class='splash-subtitle'>Have you included this information?</h3>
          <p>Lets face it, we all have work to be getting on with.  I don't want to waste 30-45 minutes on the phone for a role thats just unsuitable.  Ultimately, neither do you.  If this information isn't included, then you're just wasting both of our time.  If your super-clever CV searching system has genuinely identified me as a possibly candidate, then give me enough information to let me decide if I agree.</p>
          <p>Alternatively, If you wish to pay my hourly consulting rate, feel free to talk to me about anything you wish!  Please email me if this is the case and I will forward you my payment details.</p>
          <hr>
          <h2 class='splash-subtitle'>Thanks for getting in touch, I look forward to hearing from you</h2>
        </div>
      </div>
    </section>
  </div>
	

</body>
</html>