<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="carousel.css" media="all" type="text/css">
    <link rel="stylesheet" href="banner01.css" media="all" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-sacal=1.0" />

</head>
<body>
<div class="banner" id="house">
  <div class="container">
    <div class="callbacks_container">
      <ul class="rslides callbacks callbacks1" id="slider4">
          <div class="banner-info">
            <h3>The first braille smartwatch</h3>
            <a href="/product" class="con">Pre-Order</a>
          </div>
      </ul>    
    </div>
  </div>
</div>    
            <!--banner-Slider-->
<!--start-services-->
<div class="service-section" id="service">
  <div class="container">
    <h3 class="tittle">Function</h3>
      <div class="service-bottom">

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Time</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Braille Leaning</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Smart Watch</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Text Reading</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>
   </div>





<div class="keep">
  <div class="container">
    <div class="contents">
    <h3 class="tittle-one">Specification</h3>
    <p>There are 285 million visually<br> impaired people around the globe.</p>
    <br><br>
    <ul class="spec" id="explain">
      <li>Type : Circle</li>
      <li>Size : 42mm case</li>
      <li>Depth : 12mm</li><br>

      <li>Braille cell</li>
      <li>: 4 active dynamic braille cells</li><br>

      <li>Material</li>
      <li>: 7000 series aluminum</li><br>

      <li>Battery</li>
      <li>: Li-polymer 400mAh</li><br>

      <li>Band</li>
      <li>: 22mm sport band,</li>
      <li>22mm leather band</li><br>



    </ul>  
  </div>
  </div>
</div>


<!--test-demo-->
<div class="test-demo" id="demo"> 
  <div class="container">
    <h3 class="tittle">Test Demo</h3>
      <div class="demo-top">
        <div class="col-md-4 demo-text">
          <h4> DOT WATCH</h4>
          <div class="pre-top">
            <div class="item-text">
              <span class="item_price">Finance Free</span>
              <h6>$129</h6>
              <div class="clearfix"> </div>
            </div>
     
            <div class="item-text">
              <span class="item_price">Option to Purchase Free</span>
              <h6>$249</h6>
              <div class="clearfix"> </div>
            </div>
    
            <div class="item-text">
              <span class="item_price">Total Amount Payable</span>
              <h6> $9,879</h6>
              <div class="clearfix"> </div>
            </div>
   
            <div class="item-text">
              <span class="item_price">Duration</span>
              <h6>48 months</h6>
              <div class="clearfix"> </div>
            </div>
   
            <div class="item-text">
              <span class="item_price">Duration</span>
              <h6>48 months</h6>
              <div class="clearfix"> </div>
            </div>   
          </div>
            <a href="/product" class="con">Pre-Order</a>
        </div>
          <div class="col-md-8 demo-img">
          <img src="https://scontent.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12631420_881610605271223_563003460790229426_n.jpg?oh=6c3a0e88eb1e8e37c1a0ce6ebf8018dc&oe=573C3E71" alt="Picture of Dot Watch"/>
          </div>
          <div class="clearfix"> </div>
      </div>
  </div>
</div>
<!--//test-demo-->

<div class="keep2">
    <h3 class="tittle-two">Affordable E-Braille reader<br>
for visually impaired people around the globe<br><br>With Active Braille Technology</h3>
</div>

<!--news-starts-->
  <div class="news" id="news">
    <div class="container">
      <h3 class="tittle">Our News</h3>
      <div class="news-bottom">
        <div class="news-one">
          <div class="col-md-6 news-left">
            <a href="/news"><img src="https://scontent.xx.fbcdn.net/hphotos-xfa1/t31.0-8/12633484_961735190572962_8925394356373729504_o.jpg" alt="" /></a>
          </div>  
          <div class="col-md-6 news-right"> 
          <a href="/news"><h4>Low-Priced Dot's Braille Modules</h4></a>
            <h5>30.08.2015</h5>
            <p class="one">Development of low-priced Dot's Braille modules and contents for the visually impaired living in current 3Rd world areas with KOICA Kenya office. The goal of this project is to help the low-income poverty class in Africa in adapting and participating socially. Alongside with this goal, we are also trying to finish developing the low-priced module and to complete the innovative contents which may be linked with the modules.</p>  
          </div>  
          <div class="clearfix"> </div> 
        </div>
        <div class="news-one">
          <div class="col-md-6 news-right"> 
            <a href="/news"><h4>2015 Herald Design Forum</h4></a>
            <h5>12.09.2015</h5>
            <p class="one">Our CEO Eric Kim has been invited to the 2015 Herald Design Forum as a speaker of the Design and Business area along with Randi Zuckerberg (Facebook Marketing) and Janne Kyttanen (3D printing author from Finland). DOT will do the best to become the bridge device of disability aids and smart devices using "Revolutionary technology" and "Emotional Design".</p>  
          </div>  
          <div class="col-md-6 news-left">
            <a href="/news"><img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12227601_844968698952180_8352757487313629420_n.jpg?oh=474a8eca1bb120edfbed77a6d3509d10&oe=573A5B52" alt="" /></a>
          </div>            
          <div class="clearfix"> </div> 
        </div>    
      </div>      
    </div>  
  </div>  
  <!--news-end-->


</body>
</html>


