<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="carousel.css" media="all" type="text/css">
    <link rel="stylesheet" href="banner01.css" media="all" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale=1.0">



</head>
<body>
<div class="banner" id="house">
  <div class="container">
    <div class="callbacks_container">
      <ul class="rslides callbacks callbacks1" id="slider4">
          <div class="banner-info">
            <h3>The first braille smartwatch</h3>
            <a href="/product" class="con">Pre-Order</a>
          </div>
      </ul>    
    </div>
  </div>
</div>    
            <!--banner-Slider-->
<!--start-services-->
<div class="service-section" id="service">
  <div class="container">
    <h3 class="tittle">Function</h3>
      <div class="service-bottom">

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Time</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Braille Leaning</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Smart Watch</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Text Reading</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>
   </div>




 <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>I got 99 Problems<span>but <em>design</em> 'aint one</span></h1>
                <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>

        
<div class="keep">
  <div class="container">
    <div class="contents">
    <h3 class="tittle-one">Specification</h3>
    <p>There are 285 million visually<br> impaired people around the globe.</p>
    <br><br>
    <ul class="spec" id="explain">
      <li>Type : Circle</li>
      <li>Size : 42mm case</li>
      <li>Depth : 12mm</li><br>

      <li>Braille cell</li>
      <li>: 4 active dynamic braille cells</li><br>

      <li>Material</li>
      <li>: 7000 series aluminum</li><br>

      <li>Battery</li>
      <li>: Li-polymer 400mAh</li><br>

      <li>Band</li>
      <li>: 22mm sport band,</li>
      <li>22mm leather band</li><br>



    </ul>  
  </div>
  </div>
</div>

<div class="info-section" id="info">
  <div class="container">


    <div class="welcome-left">     
      <li> <h3>Affordable Price</h3>      
      <p>Dot's core technology enables the price to be around $300.
      </p></li>
      <br><br>
      <li> <h3>Reading text</h3>      
      <p>Now blind people can access various text data such as messages, tweets, and looks anywhere, anytime.
      </p> </li>
      <br><br>
      <li><h3>Smart Watch</h3>      
      <p>Watch, Alarm, Notification, Gyroscop, Bluetooth 4.1, Touch Sensor
      </p></li>
      <br><br>
      <li><h3>Braille learning</h3>      
      <p>The device paves a path to literacy for 95% of new Braille learners. Braille learning could be done alone. 
      </p></li>
    </div>
    <div class="welcome-right"></div>   



  </div>
</div>

<div class="keep2">
    <h3 class="tittle-two">Affordable E-Braille reader<br>
for visually impaired people around the globe<br><br>With Active Braille Technology</h3>
</div>
<!-- video -->
            <!-- About Section -->
            <section id="about" class="about content-section alt-bg-light wow fadeInUp" data-wow-offset="10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Braille 'dot' smartwatch developed for blind people</h2>
                            <h3 class="caption gray">Customers in 100+ countries hope to use our product</h3>
                            <p>Dot Braille is a system of raised dots allows people with blindness and severe sight loss to read. Refreshable braille displays helps the blind also use computer screens and other electronic supports. But the problem is that the devices are expensive. Young students have launched a startup venture to help these people.</p>

                            <blockquote>
                                Each cell is a letter or a small combination of letters, A combination for 'therefore' would probably be the longest word you could spell without moving it on.
                                <span> Emma </span>
                            </blockquote>

                           

                        </div><!-- /.col-md-6 -->
                        
                        <div class="col-md-6">
                            <!-- Display image -->
                            <!-- <img src="assets/images/hallooou_template-iphone_sm.png" class="img-responsive"> -->
                            <!-- Optional video embed code -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/zmpl81WmFSo" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.section -->
<!-- //video -->




<!-- clients -->
<div class="client" id="clients">
    <div class="container">
      <h3>Also featured in</h3>
      <div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -162.857142857143px; display: block;">      
          
          
          
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.popsci.com/now-blind-can-read-texts-shifting-braille-smartwatch"><img src="https://static.wixstatic.com/media/ea9f67_433c6ebcaf4143dd827aed4ad4faba7d.png/v1/fill/w_114,h_41,al_c,usm_0.66_1.00_0.01/ea9f67_433c6ebcaf4143dd827aed4ad4faba7d.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.ign.com/articles/2015/08/03/first-ever-braille-smartwatch-announced"><img src="https://static.wixstatic.com/media/ea9f67_405c3f1a1bcf4d7f8e18e7ed6fb8d433.png/v1/fill/w_122,h_45,al_c,usm_0.66_1.00_0.01/ea9f67_405c3f1a1bcf4d7f8e18e7ed6fb8d433.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.androidauthority.com/dot-braille-smartwatch-for-the-visually-impaired-630915/"><img src="https://static.wixstatic.com/media/ea9f67_1c45effd92f140d6a148b47e60465ea8.jpg/v1/fill/w_135,h_58,al_c,q_80,usm_0.66_1.00_0.01/ea9f67_1c45effd92f140d6a148b47e60465ea8.jpg" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="https://www.techinasia.com/dot-braille-wearable"><img src="https://static.wixstatic.com/media/ea9f67_c03e9f0e526e4abb8ac1d5665040cea4.png/v1/fill/w_204,h_62,al_c,usm_0.66_1.00_0.01/ea9f67_c03e9f0e526e4abb8ac1d5665040cea4.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.arirang.co.kr/Tv2/TVCommon_NoStaff_Archive.asp?Prog_Code=TVCR0685&MENU_CODE=101709&view_seq=15670"><img src="https://static.wixstatic.com/media/ea9f67_3b9e661b366b4c8aa5ab1816bed86862.png/v1/fill/w_139,h_65,al_c,usm_0.66_1.00_0.01/ea9f67_3b9e661b366b4c8aa5ab1816bed86862.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.upworthy.com/this-incredible-smartwatch-converts-texts-and-emails-into-braille"><img src="https://static.wixstatic.com/media/ea9f67_4ea0fd0c1efe4b468e76b2176adfee10.jpg/v1/fill/w_123,h_40,al_c,q_80,usm_0.66_1.00_0.01/ea9f67_4ea0fd0c1efe4b468e76b2176adfee10.jpg" alt=" " class="img-responsive"></a>
            </div>
          </li>
          
          
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.wearable-technologies.com/2015/07/out-of-sight-out-of-fright/"><img src="https://static.wixstatic.com/media/ea9f67_1a33b6dbcfcf488bb23e752f66a54711.jpg/v1/fill/w_108,h_48,al_c,q_80,usm_0.66_1.00_0.01/ea9f67_1a33b6dbcfcf488bb23e752f66a54711.jpg" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.ubergizmo.com/2015/07/dot-braille-smartwatch-visually-impaired/"><img src="https://static.wixstatic.com/media/ea9f67_deee62b3d8504d49a04b76c3339b13de.png/v1/fill/w_176,h_29,al_c,usm_0.66_1.00_0.01/ea9f67_deee62b3d8504d49a04b76c3339b13de.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.alphr.com/smartwatches/1001264/this-smartwatch-for-the-blind-displays-braille-in-real-time"><img src="https://static.wixstatic.com/media/ea9f67_6c51666974474625ab899fccb0ee4fcc.jpg/v1/fill/w_136,h_46,al_c,q_80,usm_0.66_1.00_0.01/ea9f67_6c51666974474625ab899fccb0ee4fcc.jpg" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.gadgetify.com/dot-braille-smartwatch/"><img src="https://static.wixstatic.com/media/ea9f67_eb52043302d34129b467c0917125991c.png/v1/fill/w_149,h_27,al_c,usm_0.66_1.00_0.01/ea9f67_eb52043302d34129b467c0917125991c.png"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.geek.com/news/braille-smartwatch-allows-blind-people-to-read-texts-1629645/"><img src="https://static.wixstatic.com/media/ea9f67_b5697aa4bc3a435f92c045a899d6e6d8.png/v1/fill/w_110,h_50,al_c,usm_0.66_1.00_0.01/ea9f67_b5697aa4bc3a435f92c045a899d6e6d8.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.bbc.co.uk/newsbeat/article/33801040/is-a-smartwatch-for-the-blind-a-bad-idea"><img src="https://static.wixstatic.com/media/ea9f67_ddfad107ac9f4dbba591dd0dc8626373.png/v1/fill/w_127,h_36,al_c,usm_0.66_1.00_0.01/ea9f67_ddfad107ac9f4dbba591dd0dc8626373.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://time.com/3983375/smartwatch-blind-dot-braille/"><img src="https://static.wixstatic.com/media/ea9f67_ec8f9ab70c154df7a2cd584d49a23a87.png/v1/fill/w_124,h_40,al_c,usm_0.66_1.00_0.01/ea9f67_ec8f9ab70c154df7a2cd584d49a23a87.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.engadget.com/2015/08/03/dot-braille-smartwatch/"><img src="https://static.wixstatic.com/media/ea9f67_a739cc0713694d659fdbd75ca1d7ef00.png/v1/fill/w_128,h_43,al_c,usm_0.66_1.00_0.01/ea9f67_a739cc0713694d659fdbd75ca1d7ef00.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.gizmag.com/dot-braille-smartwatch-details/38812/"><img src="https://static.wixstatic.com/media/ea9f67_061d743d87c844628c76d369ee2992e4.png/v1/fill/w_119,h_44,al_c,usm_0.66_1.00_0.01/ea9f67_061d743d87c844628c76d369ee2992e4.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.huffingtonpost.co.uk/2015/08/04/dot-braille-smartwatch-is-a-small-wearable-that-could-make-a-big-difference-to-over-200-million-blind-people_n_7932270.html"><img src="https://static.wixstatic.com/media/ea9f67_9c14b2a66b4649c4b1a1a7d71c6615bd.png/v1/fill/w_145,h_56,al_c,usm_0.66_1.00_0.01/ea9f67_9c14b2a66b4649c4b1a1a7d71c6615bd.png" alt=" " class="img-responsive"></a>
            </div>
          </li></ul><div class="nbs-flexisel-nav-left" style="top: -33px;"></div><div class="nbs-flexisel-nav-right" style="top: -33px;"></div></div></div>
          <div class="nbs-flexisel-nav-left" style="top: 27.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 27.5px;"></div></div></div>




    </div>
  </div>
<!-- /clients -->


</body>
</html>

          <script type="text/javascript">
              $(window).load(function() {
                $("#flexiselDemo1").flexisel({
                  visibleItems: 7,
                  animationSpeed: 1000,
                  autoPlay: true,
                  autoPlaySpeed: 3000,        
                  pauseOnHover: true,
                  enableResponsiveBreakpoints: true,
                  responsiveBreakpoints: { 
                    portrait: { 
                      changePoint:480,
                      visibleItems: 2
                    }, 
                    landscape: { 
                      changePoint:640,
                      visibleItems:3
                    },
                    tablet: { 
                      changePoint:768,
                      visibleItems: 3
                    }
                  }
                });
                
              });



(function ($) {

    $.fn.flexisel = function (options) {

        var defaults = $.extend({
        visibleItems: 4,
        animationSpeed: 200,
        autoPlay: false,
        autoPlaySpeed: 3000,        
        pauseOnHover: true,
      setMaxWidthAndHeight: false,
        enableResponsiveBreakpoints: false,
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 1
          }, 
          landscape: { 
            changePoint:640,
            visibleItems: 2
          },
          tablet: { 
            changePoint:768,
            visibleItems: 3
          }
          }
        }, options);
        
    /******************************
    Private Variables
    *******************************/         
        
        var object = $(this);
    var settings = $.extend(defaults, options);        
    var itemsWidth; // Declare the global width of each item in carousel
    var canNavigate = true; 
        var itemsVisible = settings.visibleItems; 
        
    /******************************
    Public Methods
    *******************************/        
        
        var methods = {
            
      init: function() {
        
            return this.each(function () {
              methods.appendHTML();
              methods.setEventHandlers();           
              methods.initializeItems();
        });
      },

      /******************************
      Initialize Items
      *******************************/      
      
      initializeItems: function() {
        
        var listParent = object.parent();
        var innerHeight = listParent.height(); 
        var childSet = object.children();
        
          var innerWidth = listParent.width(); // Set widths
          itemsWidth = (innerWidth)/itemsVisible;
          childSet.width(itemsWidth);
          childSet.last().insertBefore(childSet.first());
          childSet.last().insertBefore(childSet.first());
          object.css({'left' : -itemsWidth}); 

          object.fadeIn();
        $(window).trigger("resize"); // needed to position arrows correctly

      },
      
      
      /******************************
      Append HTML
      *******************************/      
      
      appendHTML: function() {
        
          object.addClass("nbs-flexisel-ul");
          object.wrap("<div class='nbs-flexisel-container'><div class='nbs-flexisel-inner'></div></div>");
          object.find("li").addClass("nbs-flexisel-item");
 
          if(settings.setMaxWidthAndHeight) {
            var baseWidth = $(".nbs-flexisel-item > img").width();
            var baseHeight = $(".nbs-flexisel-item > img").height();
            $(".nbs-flexisel-item > img").css("max-width", baseWidth);
            $(".nbs-flexisel-item > img").css("max-height", baseHeight);
          }
 
          $("<div class='nbs-flexisel-nav-left'></div><div class='nbs-flexisel-nav-right'></div>").insertAfter(object);
          var cloneContent = object.children().clone();
          object.append(cloneContent);
      },
          
      
      /******************************
      Set Event Handlers
      *******************************/
      setEventHandlers: function() {
        
        var listParent = object.parent();
        var childSet = object.children();
        var leftArrow = listParent.find($(".nbs-flexisel-nav-left"));
        var rightArrow = listParent.find($(".nbs-flexisel-nav-right"));
        
        $(window).on("resize", function(event){
          
          methods.setResponsiveEvents();
          
          var innerWidth = $(listParent).width();
          var innerHeight = $(listParent).height(); 
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          childSet.width(itemsWidth);
          object.css({'left' : -itemsWidth});
          
          var halfArrowHeight = (leftArrow.height())/2;
          var arrowMargin = (innerHeight/2) - halfArrowHeight;
          leftArrow.css("top", arrowMargin + "px");
          rightArrow.css("top", arrowMargin + "px");
          
        });         
        
        $(leftArrow).on("click", function (event) {
          methods.scrollLeft();
        });
        
        $(rightArrow).on("click", function (event) {
          methods.scrollRight();
        });
        
        if(settings.pauseOnHover == true) {
          $(".nbs-flexisel-item").on({
            mouseenter: function () {
              canNavigate = false;
            }, 
            mouseleave: function () {
              canNavigate = true;
            }
           });
        }

        if(settings.autoPlay == true) {
          
          setInterval(function () {
            if(canNavigate == true)
              methods.scrollRight();
          }, settings.autoPlaySpeed);
        }
        
      },
      
      /******************************
      Set Responsive Events
      *******************************/      
      
      setResponsiveEvents: function() {
        var contentWidth = $('html').width();
        
        if(settings.enableResponsiveBreakpoints == true) {
          if(contentWidth < settings.responsiveBreakpoints.portrait.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.portrait.visibleItems;
          }
          else if(contentWidth > settings.responsiveBreakpoints.portrait.changePoint && contentWidth < settings.responsiveBreakpoints.landscape.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.landscape.visibleItems;
          }
          else if(contentWidth > settings.responsiveBreakpoints.landscape.changePoint && contentWidth < settings.responsiveBreakpoints.tablet.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.tablet.visibleItems;
          }
          else {
            itemsVisible = settings.visibleItems;
          }
        }
      },      
      
      /******************************
      Scroll Left
      *******************************/        
      
      scrollLeft:function() {

        if(canNavigate == true) {
          canNavigate = false;
          
          var listParent = object.parent();
          var innerWidth = listParent.width();
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          var childSet = object.children();
          
          object.animate({
              'left' : "+=" + itemsWidth
            },
            {
              queue:false, 
              duration:settings.animationSpeed,
              easing: "linear",
              complete: function() {  
                childSet.last().insertBefore(childSet.first()); // Get the first list item and put it after the last list item (that's how the infinite effects is made)                  
                methods.adjustScroll();
                canNavigate = true; 
              }
            }
          );
        }
      },
      
      /******************************
      Scroll Right
      *******************************/        
      
      scrollRight:function() {
        
        if(canNavigate == true) {
          canNavigate = false;
          
          var listParent = object.parent();
          var innerWidth = listParent.width();
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          var childSet = object.children();
          
          object.animate({
              'left' : "-=" + itemsWidth
            },
            {
              queue:false, 
              duration:settings.animationSpeed,
              easing: "linear",
              complete: function() {  
                childSet.first().insertAfter(childSet.last()); // Get the first list item and put it after the last list item (that's how the infinite effects is made)   
                methods.adjustScroll();
                canNavigate = true; 
              }
            }
          );
        }
      },
      
      /******************************
      Adjust Scroll 
      *******************************/
      
      adjustScroll: function() {
        
        var listParent = object.parent();
        var childSet = object.children();       
        
        var innerWidth = listParent.width(); 
        itemsWidth = (innerWidth)/itemsVisible;
        childSet.width(itemsWidth);
        object.css({'left' : -itemsWidth});   
      }     
        
        };
        
        if (methods[options]) {   // $("#element").pluginName('methodName', 'arg1', 'arg2');
            return methods[options].apply(this, Array.prototype.slice.call(arguments, 1));
        } else if (typeof options === 'object' || !options) {   // $("#element").pluginName({ option: 1, option:2 });
            return methods.init.apply(this);  
        } else {
            $.error( 'Method "' +  method + '" does not exist in flexisel plugin!');
        }        
};

})(jQuery);

          </script>
          <script type="text/javascript" src="js/jquery.flexisel.js"></script>