<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="carousel.css" media="all" type="text/css">
    <link rel="stylesheet" href="banner01.css" media="all" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale=1.0">



</head>
<body>
<div class="banner" id="house">
  <div class="container">
    <div class="callbacks_container">
      <ul class="rslides callbacks callbacks1" id="slider4">
          <div class="banner-info">
            <h3>The first braille smartwatch</h3>
            <a href="/product" class="con">Pre-Order</a>
          </div>
      </ul>    
    </div>
  </div>
</div>    
            <!--banner-Slider-->
<!--start-services-->
<div class="service-section" id="service">
  <div class="container">
    <h3 class="tittle">Function</h3>
      <div class="service-bottom">

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Time</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Braille Leaning</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="col-md-6 about-left">
          <div class="srv-one">
            <div class="ab-left">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Smart Watch</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="srv-two">
            <div class="ab-left">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </div>
            <div class="ab-right">
              <h4>Text Reading</h4>
              <p>Nulla et finibus libero. Suspendisse vitae ex facilisis, ultricies est sed, porta ante. Vivamus tristique luctus lorem, eget dignissim lacus sodales tristique.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>
   </div>





<div class="keep">
  <div class="container">
    <div class="contents">
    <h3 class="tittle-one">Specification</h3>
    <p>There are 285 million visually<br> impaired people around the globe.</p>
    <br><br>
    <ul class="spec" id="explain">
      <li>Type : Circle</li>
      <li>Size : 42mm case</li>
      <li>Depth : 12mm</li><br>

      <li>Braille cell</li>
      <li>: 4 active dynamic braille cells</li><br>

      <li>Material</li>
      <li>: 7000 series aluminum</li><br>

      <li>Battery</li>
      <li>: Li-polymer 400mAh</li><br>

      <li>Band</li>
      <li>: 22mm sport band,</li>
      <li>22mm leather band</li><br>



    </ul>  
  </div>
  </div>
</div>

<div class="info-section" id="info">
  <div class="container">


    <div class="welcome-left">     
      <li> <h3>Affordable Price</h3>      
      <p>Dot's core technology enables the price to be around $300.
      </p></li>
      <br><br>
      <li> <h3>Reading text</h3>      
      <p>Now blind people can access various text data such as messages, tweets, and looks anywhere, anytime.
      </p> </li>
      <br><br>
      <li><h3>Smart Watch</h3>      
      <p>Watch, Alarm, Notification, Gyroscop, Bluetooth 4.1, Touch Sensor
      </p></li>
      <br><br>
      <li><h3>Braille learning</h3>      
      <p>The device paves a path to literacy for 95% of new Braille learners. Braille learning could be done alone. 
      </p></li>
    </div>
    <div class="welcome-right"></div>   



  </div>
</div>

<div class="keep2">
    <h3 class="tittle-two">Affordable E-Braille reader<br>
for visually impaired people around the globe<br><br>With Active Braille Technology</h3>
</div>
<!-- video -->
  <div class="video">
    <div class="container">
      <div class="video-grid">
        <div class="col-md-8 video-grid-left">
          <iframe src="https://www.youtube.com/embed/zmpl81WmFSo" width="650" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-md-4 video-grid-left">
          <h3>The first braille smartwatch</h3>
          <p>Dot Braille is a system of raised dots allows people with blindness and severe sight loss to read. Refreshable braille displays helps the blind also use computer screens.</p>
          <div class="more m1">
            <a href="https://www.youtube.com/results?search_query=braille+smartwatch" class="hvr-bounce-to-bottom">See Video</a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //video -->




<!-- clients -->
<div class="client" id="clients">
    <div class="container">
      <h3>Also featured in</h3>
      <div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -162.857142857143px; display: block;">      
          
          
          
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.geek.com/news/braille-smartwatch-allows-blind-people-to-read-texts-1629645/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/geek_xadhiq.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.bbc.co.uk/newsbeat/article/33801040/is-a-smartwatch-for-the-blind-a-bad-idea"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2000px-BBC.svg_inorgw.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://biz.chosun.com/site/data/html_dir/2015/06/14/2015061400600.html"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/biz_fztsdc.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://time.com/3983375/smartwatch-blind-dot-braille/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/logo_time_home_zad93p.gif" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.popsci.com/now-blind-can-read-texts-shifting-braille-smartwatch"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/3494b822e80343c589b186c02be51009_hkwsrv.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.androidauthority.com/dot-braille-smartwatch-for-the-visually-impaired-630915/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/2749345_br5aqv.png" alt=" " class="img-responsive"></a>
            </div>
          </li>
          
          
          <li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.engadget.com/2015/08/03/dot-braille-smartwatch/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/06125a4bd7ad49f88870d34dae2a438c_rqhu3a.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.wearable-technologies.com/2015/07/out-of-sight-out-of-fright/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C_wjwiim.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://imnews.imbc.com/replay/2015/nwdesk/article/3631465_17821.html"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/8c0495bb68554eddb55d90da7d7f9689_odp7oy.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://news.kbs.co.kr/news/view.do?ncd=3137482&ref=A"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/biz_fztsdc.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.huffingtonpost.co.uk/2015/08/04/dot-braille-smartwatch-is-a-small-wearable-that-could-make-a-big-difference-to-over-200-million-blind-people_n_7932270.html"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/5ed2d2c942204c5e985566fd15defc2d_jjwbn8.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.alphr.com/smartwatches/1001264/this-smartwatch-for-the-blind-displays-braille-in-real-time"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2015-07-30_%EC%98%A4%ED%9B%84_8.45.25_vhuglj.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href=""><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C_wjwiim.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.ubergizmo.com/2015/07/dot-braille-smartwatch-visually-impaired/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2015-07-30_%EC%98%A4%ED%9B%84_8.45.02_v9ekk2.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.ign.com/articles/2015/08/03/first-ever-braille-smartwatch-announced"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/tumblr_static_ign_com_no_chrome-1_cb0uaw.png" alt=" " class="img-responsive"></a>
            </div>
          </li><li class="nbs-flexisel-item" style="width: 160px;">
            <div class="sliderfig-grid">
              <a href="http://www.gadgetify.com/dot-braille-smartwatch/"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/81759/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2015-07-30_%EC%98%A4%ED%9B%84_8.49.23_tqdel4.png" alt=" " class="img-responsive"></a>
            </div>
          </li></ul><div class="nbs-flexisel-nav-left" style="top: -33px;"></div><div class="nbs-flexisel-nav-right" style="top: -33px;"></div></div></div>
          <div class="nbs-flexisel-nav-left" style="top: 27.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 27.5px;"></div></div></div>




    </div>
  </div>
<!-- /clients -->


</body>
</html>

          <script type="text/javascript">
              $(window).load(function() {
                $("#flexiselDemo1").flexisel({
                  visibleItems: 7,
                  animationSpeed: 1000,
                  autoPlay: true,
                  autoPlaySpeed: 3000,        
                  pauseOnHover: true,
                  enableResponsiveBreakpoints: true,
                  responsiveBreakpoints: { 
                    portrait: { 
                      changePoint:480,
                      visibleItems: 2
                    }, 
                    landscape: { 
                      changePoint:640,
                      visibleItems:3
                    },
                    tablet: { 
                      changePoint:768,
                      visibleItems: 3
                    }
                  }
                });
                
              });



(function ($) {

    $.fn.flexisel = function (options) {

        var defaults = $.extend({
        visibleItems: 4,
        animationSpeed: 200,
        autoPlay: false,
        autoPlaySpeed: 3000,        
        pauseOnHover: true,
      setMaxWidthAndHeight: false,
        enableResponsiveBreakpoints: false,
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 1
          }, 
          landscape: { 
            changePoint:640,
            visibleItems: 2
          },
          tablet: { 
            changePoint:768,
            visibleItems: 3
          }
          }
        }, options);
        
    /******************************
    Private Variables
    *******************************/         
        
        var object = $(this);
    var settings = $.extend(defaults, options);        
    var itemsWidth; // Declare the global width of each item in carousel
    var canNavigate = true; 
        var itemsVisible = settings.visibleItems; 
        
    /******************************
    Public Methods
    *******************************/        
        
        var methods = {
            
      init: function() {
        
            return this.each(function () {
              methods.appendHTML();
              methods.setEventHandlers();           
              methods.initializeItems();
        });
      },

      /******************************
      Initialize Items
      *******************************/      
      
      initializeItems: function() {
        
        var listParent = object.parent();
        var innerHeight = listParent.height(); 
        var childSet = object.children();
        
          var innerWidth = listParent.width(); // Set widths
          itemsWidth = (innerWidth)/itemsVisible;
          childSet.width(itemsWidth);
          childSet.last().insertBefore(childSet.first());
          childSet.last().insertBefore(childSet.first());
          object.css({'left' : -itemsWidth}); 

          object.fadeIn();
        $(window).trigger("resize"); // needed to position arrows correctly

      },
      
      
      /******************************
      Append HTML
      *******************************/      
      
      appendHTML: function() {
        
          object.addClass("nbs-flexisel-ul");
          object.wrap("<div class='nbs-flexisel-container'><div class='nbs-flexisel-inner'></div></div>");
          object.find("li").addClass("nbs-flexisel-item");
 
          if(settings.setMaxWidthAndHeight) {
            var baseWidth = $(".nbs-flexisel-item > img").width();
            var baseHeight = $(".nbs-flexisel-item > img").height();
            $(".nbs-flexisel-item > img").css("max-width", baseWidth);
            $(".nbs-flexisel-item > img").css("max-height", baseHeight);
          }
 
          $("<div class='nbs-flexisel-nav-left'></div><div class='nbs-flexisel-nav-right'></div>").insertAfter(object);
          var cloneContent = object.children().clone();
          object.append(cloneContent);
      },
          
      
      /******************************
      Set Event Handlers
      *******************************/
      setEventHandlers: function() {
        
        var listParent = object.parent();
        var childSet = object.children();
        var leftArrow = listParent.find($(".nbs-flexisel-nav-left"));
        var rightArrow = listParent.find($(".nbs-flexisel-nav-right"));
        
        $(window).on("resize", function(event){
          
          methods.setResponsiveEvents();
          
          var innerWidth = $(listParent).width();
          var innerHeight = $(listParent).height(); 
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          childSet.width(itemsWidth);
          object.css({'left' : -itemsWidth});
          
          var halfArrowHeight = (leftArrow.height())/2;
          var arrowMargin = (innerHeight/2) - halfArrowHeight;
          leftArrow.css("top", arrowMargin + "px");
          rightArrow.css("top", arrowMargin + "px");
          
        });         
        
        $(leftArrow).on("click", function (event) {
          methods.scrollLeft();
        });
        
        $(rightArrow).on("click", function (event) {
          methods.scrollRight();
        });
        
        if(settings.pauseOnHover == true) {
          $(".nbs-flexisel-item").on({
            mouseenter: function () {
              canNavigate = false;
            }, 
            mouseleave: function () {
              canNavigate = true;
            }
           });
        }

        if(settings.autoPlay == true) {
          
          setInterval(function () {
            if(canNavigate == true)
              methods.scrollRight();
          }, settings.autoPlaySpeed);
        }
        
      },
      
      /******************************
      Set Responsive Events
      *******************************/      
      
      setResponsiveEvents: function() {
        var contentWidth = $('html').width();
        
        if(settings.enableResponsiveBreakpoints == true) {
          if(contentWidth < settings.responsiveBreakpoints.portrait.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.portrait.visibleItems;
          }
          else if(contentWidth > settings.responsiveBreakpoints.portrait.changePoint && contentWidth < settings.responsiveBreakpoints.landscape.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.landscape.visibleItems;
          }
          else if(contentWidth > settings.responsiveBreakpoints.landscape.changePoint && contentWidth < settings.responsiveBreakpoints.tablet.changePoint) {
            itemsVisible = settings.responsiveBreakpoints.tablet.visibleItems;
          }
          else {
            itemsVisible = settings.visibleItems;
          }
        }
      },      
      
      /******************************
      Scroll Left
      *******************************/        
      
      scrollLeft:function() {

        if(canNavigate == true) {
          canNavigate = false;
          
          var listParent = object.parent();
          var innerWidth = listParent.width();
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          var childSet = object.children();
          
          object.animate({
              'left' : "+=" + itemsWidth
            },
            {
              queue:false, 
              duration:settings.animationSpeed,
              easing: "linear",
              complete: function() {  
                childSet.last().insertBefore(childSet.first()); // Get the first list item and put it after the last list item (that's how the infinite effects is made)                  
                methods.adjustScroll();
                canNavigate = true; 
              }
            }
          );
        }
      },
      
      /******************************
      Scroll Right
      *******************************/        
      
      scrollRight:function() {
        
        if(canNavigate == true) {
          canNavigate = false;
          
          var listParent = object.parent();
          var innerWidth = listParent.width();
          
          itemsWidth = (innerWidth)/itemsVisible;
          
          var childSet = object.children();
          
          object.animate({
              'left' : "-=" + itemsWidth
            },
            {
              queue:false, 
              duration:settings.animationSpeed,
              easing: "linear",
              complete: function() {  
                childSet.first().insertAfter(childSet.last()); // Get the first list item and put it after the last list item (that's how the infinite effects is made)   
                methods.adjustScroll();
                canNavigate = true; 
              }
            }
          );
        }
      },
      
      /******************************
      Adjust Scroll 
      *******************************/
      
      adjustScroll: function() {
        
        var listParent = object.parent();
        var childSet = object.children();       
        
        var innerWidth = listParent.width(); 
        itemsWidth = (innerWidth)/itemsVisible;
        childSet.width(itemsWidth);
        object.css({'left' : -itemsWidth});   
      }     
        
        };
        
        if (methods[options]) {   // $("#element").pluginName('methodName', 'arg1', 'arg2');
            return methods[options].apply(this, Array.prototype.slice.call(arguments, 1));
        } else if (typeof options === 'object' || !options) {   // $("#element").pluginName({ option: 1, option:2 });
            return methods.init.apply(this);  
        } else {
            $.error( 'Method "' +  method + '" does not exist in flexisel plugin!');
        }        
};

})(jQuery);

          </script>
          <script type="text/javascript" src="js/jquery.flexisel.js"></script>