<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="news.css" media="all" type="text/css">      
</head>


<!-- blog -->
	<div class="blog-page">
		<div class="container">
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">Development of low-priced Dot's Braille modules</a></h3>
						<p>Published on<span> September 10</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>18<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="https://scontent.xx.fbcdn.net/hphotos-xtp1/t31.0-8/12605341_961736053906209_6711647991895291195_o.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>low-priced Dot's Braille modules</h4>
						<p>Development of low-priced Dot's Braille modules and contents for the visually impaired living in current 3Rd world areas with KOICA Kenya office. The goal of this project is to help the low-income poverty class in Africa in adapting and participating socially. Alongside with this goal, we are also trying to finish developing the low-priced module and to complete the innovative contents which may be linked with the modules.<br>* KOICA = Korea International Cooperation Agency</p>
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>2 Tags</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>Tincidunt</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Admin</a></li>
						</ul>
					
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">Design AWARD 2016</a></h3>
						<p>Published on<span> September 10</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>20<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12552786_1040447226012955_2846353963938030314_n.jpg?oh=f3bc923f70d9840393b98cc2c26cc1e8&oe=5749378A" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>Design AWARD 2016</h4>
						<p>Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.</p>
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>2 Tags</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>Tincidunt</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Admin</a></li>
						</ul>
			
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">2015 Herald Design Forum </a></h3>
						<p>Published on<span> September 10</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>21<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12227601_844968698952180_8352757487313629420_n.jpg?oh=474a8eca1bb120edfbed77a6d3509d10&oe=573A5B52" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>2015 Herald Design Forum</h4>
						<p>Our CEO Eric Kim has been invited to the 2015 Herald Design Forum as a speaker of the Design and Business area along with Randi Zuckerberg (Facebook Marketing) and Janne Kyttanen (3D printing author from Finland).
DOT will do the best to become the bridge device of disability aids and smart devices using "Revolutionary technology" and "Emotional Design".</p>
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>2 Tags</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>Tincidunt</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Admin</a></li>
						</ul>
	
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<nav>
				<ul class="pagination blg-pg">
					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				</ul>
			 </nav>
		</div>
	</div>
<!-- //blog -->
