<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="news.css" media="all" type="text/css">      
</head>



   
<body>

<!--news-starts-->
  <div class="news" id="news">
    <div class="container">
      <h3 class="tittle">Our News</h3>
      <div class="news-bottom">
        


        <div class="news-one">
          <div class="col-md-6 news-left">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><img src="https://scontent.xx.fbcdn.net/hphotos-xfa1/t31.0-8/12633484_961735190572962_8925394356373729504_o.jpg" alt="" /></a>
          </div>  
          <div class="col-md-6 news-right"> 
            <div class="blog-page-grid">
            <h3><a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">Low-Priced Dot's Braille Modules</a></h3>
            <p>Published on<span> September 10</span></p>
            </div>
            <p class="one">Development of low-priced Dot's Braille modules and contents for the visually impaired living in current 3Rd world areas with KOICA Kenya office. The goal of this project is to help the low-income poverty class in Africa in adapting and participating socially. Alongside with this goal, we are also trying to finish developing the low-priced module and to complete the innovative contents which may be linked with the modules.</p>  
          </div>  
          <div class="clearfix"> </div> 
        </div>


        <div class="news-one">
          <div class="col-md-6 news-right"> 
            <div class="blog-page-grid">
            <h3><a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">2015 Herald Design Forum</a></h3>
            <p>Published on<span> September 10</span></p>
            </div>
            <p class="one">Our CEO Eric Kim has been invited to the 2015 Herald Design Forum as a speaker of the Design and Business area along with Randi Zuckerberg (Facebook Marketing) and Janne Kyttanen (3D printing author from Finland). DOT will do the best to become the bridge device of disability aids and smart devices using "Revolutionary technology" and "Emotional Design".</p>  
          </div>  
          <div class="col-md-6 news-left">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"><img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12227601_844968698952180_8352757487313629420_n.jpg?oh=474a8eca1bb120edfbed77a6d3509d10&oe=573A5B52" alt="" /></a>
          </div>            
          <div class="clearfix"> </div> 
        </div>


        <div class="news-one">
          <div class="col-md-6 news-left">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal"><img src="https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12552786_1040447226012955_2846353963938030314_n.jpg?oh=f3bc923f70d9840393b98cc2c26cc1e8&oe=5749378A" alt="" /></a>
          </div>  
          <div class="col-md-6 news-right"> 
            <div class="blog-page-grid">
            <h3><a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Design AWARD 2016</a></h3>
            <p>Published on<span> September 10</span></p>
            </div>
            <p class="one">Development of low-priced Dot's Braille modules and contents for the visually impaired living in current 3Rd world areas with KOICA Kenya office. The goal of this project is to help the low-income poverty class in Africa in adapting and participating socially. Alongside with this goal, we are also trying to finish developing the low-priced module and to complete the innovative contents which may be linked with the modules.</p>  
          </div>  
          <div class="clearfix"> </div> 
        </div>




      </div>      
    </div>  
  </div>  




  <!--news-end-->


<!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Development of low-priced Dot's Braille modules</h2>
                            <p class="item-intro text-muted">low-priced Dot's Braille modules</p>
                            <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xtp1/t31.0-8/12605341_961736053906209_6711647991895291195_o.jpg" alt="">
                           <p>Development of low-priced Dot's Braille modules and contents for the visually impaired living in current 3Rd world areas with KOICA Kenya office. The goal of this project is to help the low-income poverty class in Africa in adapting and participating socially. Alongside with this goal, we are also trying to finish developing the low-priced module and to complete the innovative contents which may be linked with the modules.<br>
                                <strong>* KOICA = Korea International Cooperation Agency</strong></p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This News</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12552786_1040447226012955_2846353963938030314_n.jpg?oh=f3bc923f70d9840393b98cc2c26cc1e8&oe=5749378A" alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This News</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12227601_844968698952180_8352757487313629420_n.jpg?oh=474a8eca1bb120edfbed77a6d3509d10&oe=573A5B52" alt="">
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This News</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="https://unsplash.imgix.net/44/9s1lvXLlSbCX5l3ZaYWP_hdr-1.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=f0a1db79752dbb04ec6d2aab7d17c7b0" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="https://unsplash.imgix.net/46/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=6518e4df89659818f6c0392175a9c5e6" alt="">
                            <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="https://unsplash.imgix.net/uploads%2F1411419068566071cef10%2F7562527b?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=240c45655f09c546232a6f106688e502" alt="">
                            <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



		</div>
	</div>
<!-- //blog -->
</body>
