<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="product.css" media="all" type="text/css">
</head>
  <div class="product">
  	  <!--//single-page-->
	<div class="single">
		<div class="container">
			<div class="single-grids">				
				<div class="col-md-6 single-grid">		
					<ul class="slides">
						<li data-thumb="assets/watch1.png">
						<div class="thumb-image"> <img src="assets/watch1.png" data-imagezoom="true" class="img-responsive"> </div>
						</li>							
					</ul>					
				</div>	
				<div class="col-md-6 single-grid simpleCart_shelfItem">		
					<h2>DOT WATCH</h2>
					<div class="prices">
						<h5 class="item_price">$299.00</h5>
					</div>	
					<p>The first braille smart watch. You can experience the vast wrold with your fingertips. Affordable E-Braille reader for visually impaired people around the globe With Active Braille Technology.</p>					
											
					<input min="1" type="number" id="quantity" name="quantity" value="1" class="input-small">
					<div class="btn_form">
						<a href="#" class="add-cart item_add">BUY NOW</a>	
					</div>

									
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>






  </div>

</html>


