<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="product.css" media="all" type="text/css">        
</head>
  
<!--//single-page-->
<div class="single">      
  <div class="container">
    <div class="single-grids"> 
      <div class="jumbotron">             
        <div class="col-md-6 single-grid">      
          <ul class="slides">
            <li data-thumb="https://scontent.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12631420_881610605271223_563003460790229426_n.jpg?oh=6c3a0e88eb1e8e37c1a0ce6ebf8018dc&oe=573C3E71">
              <div class="thumb-image"> <img src="https://scontent.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12631420_881610605271223_563003460790229426_n.jpg?oh=6c3a0e88eb1e8e37c1a0ce6ebf8018dc&oe=573C3E71"> </div>
            </li>                           
          </ul>                   
        </div>  
     
        <div class="col-md-6 single-grid simpleCart_shelfItem"> 
          <div class="product">   
            <div class="product-title">DOT WATCH</div>                  
            <div class="product-price">299.00</div>
            <div class="product-info">
            The first braille smart watch. You can experience the vast wrold with your fingertips. Affordable E-Braille reader for visually impaired people around the globe With Active Braille Technology.
            </div>
            <div class="qty"> Quantity  </div><br>                                    
            <div class="product-quantity">
            <input type="number" value="1" min="1">
            </div><br><div class="clearfix"> </div>
            <hr class="layout">                    
            <div class="total"> TOTAL: </div>  
            <div class="product-line-price">299.00</div>
          </div>                                  
        </div>
        <div class="btn_form">
          <a href="#" class="add-cart item_add">BUY NOW</a>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br><br><br><br><br><br><br><br><br><br>





<div class="info-section" id="info">
  <div class="container">


    <div class="welcome-left">     
      <li> <h3>Affordable Price</h3>      
      <p>Dot's core technology enables the price to be around $300.
      </p></li>
      <br><br>
      <li> <h3>Reading text</h3>      
      <p>Now blind people can access various text data such as messages, tweets, and looks anywhere, anytime.
      </p> </li>
      <br><br>
      <li><h3>Smart Watch</h3>      
      <p>The device paves a path to literacy for 95% of new Braille learners. Braille learning could be done alone. 
      </p></li>
      <br><br>
      <li><h3>Braille learning</h3>      
      <p>The device paves a path to literacy for 95% of new Braille learners. Braille learning could be done alone. 
      </p></li>
    </div>
    <div class="welcome-right"></div>






  </div>
</div>






</html>


<script>


/* Set rates + misc */
var taxRate = 0.05;
var shippingRate = 15.00; 
var fadeTime = 300;


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {
  removeItem(this);
});


/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;
  
  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });
  
  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = (subtotal > 0 ? shippingRate : 0);
  var total = subtotal + tax + shipping;
  
  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;
  
  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });  
}


/* Remove item from cart */
function removeItem(removeButton)
{
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
    recalculateCart();
  });
}

</script>