/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */
 


html, body {
  height: 100%;

}
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: static;
  bottom: 0;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

footer{
  bottom: 0;
  position: static;
}
.footer-links {
 font-size: 17px; 
}

.col-sm-12 {
  margin-top: -50px;
}

.container-fluid {
  background-color:#373737;
  color: white;  
  width: 100%;
}


ul.footer-links {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.right{
  text-align: right;
}
.footer-links li a {
  color: white;
}

.footer-links li a:hover {
  color: #e1542c;
  text-decoration: none;
}
.outside-footer {
  background-color: #373737;
  color: white;
}

.copyright {
  border-top: 1px solid white;  
  margin-top: 10px;
}

.footer-social-section {
  width: 100%;
  text-align: center;
  justify-content: space-around;
  position: static;
  margin-top: 5px;
}
.footer-social-section::after {
  
  position: static;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid; 
  width: calc(100% - 20px);
}
.footer-social-overlap {
  position: static;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 3.5em;
  color: #fff;
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}
.footer-social-overlap > a {
  font-size: 3em;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-copyright{
  font-size: 13px;
  color: #fff;
  text-align:center;  
}



@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }
  .footer-list-anchor {
    font-size: 1.1em;
  }
  .footer-social-connect {
    font-size: 2.5em;
  }
  .footer-social-overlap > a {
    font-size: 2.24em;
  }
  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  
  .footer-list-top {
    width: 100%;
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em;
  }
  .footer-social-section {
    justify-content: center;
  }
  .footer-social-section::after {
    top: 25%;
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }
  .footer-list-anchor {
    font-size: 1.2em;
  }
  .footer-social-connect {
    font-size: 2.4em;
  }
  .footer-social-overlap > a {
    font-size: 2.24em;
  }
  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}


body,
.ui-page {
    min-height:100% !important;
    height:auto !important;
}

.ui-content {
    margin-bottom:42px; /* HEIGHT OF YOUR FOOTER */
}

.ui-footer {
    position:absolute !important;
    width:100%;
    bottom:0;
}