/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */
 


html, body {
  height: 100%;

}
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: static;
  bottom: 0;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.panel-heading h2{
  margin-left: 14px;
}
.panel-default{
  margin-top: 150px;
}

.col-md-6 h4{
  font-weight: bold;
  font-size: 22px;
}
.col-md-6{
  text-align: center;

}
.login-right{
 margin-top: 3px;
}
.member-left{
  margin-top: 50px;
}
.forgot-right{
  margin-top: 60px;
}

.panel-body{
  margin-top: 10px;
}
.panel-title{
  text-align: center;
  font-weight: bold;  
}
.form-group{
  margin-top: 20px;
}
.acount-btn {

    margin:5px;   
    outline: none;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border: 2px solid #e1542c;
    background: #e1542c;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-bottom: 1em;
}
.acount-btn:hover:hover{
  background: transparent;
    border-color: #5D4B33;
    color:#5D4B33;
    text-decoration: none;
}

.login-btn {
    float: right;    
    outline: none;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border: 2px solid #e1542c;
    background: #e1542c;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-bottom: 1em;
}
.login-btn:hover:hover{
  background: transparent;
    border-color: #5D4B33;
    color:#5D4B33;
    text-decoration: none;
}
