.left_watch{
  margin:130px 0 150px 0; 
  float:left;
  text-align:left; 
  position: static;
}

.right_watch{
  margin:130px 0 150px 0; 
  float:right;
  text-align:right;
  position: static;

}

.top{  
  text-align:center;
  color: #e1542c;
  font-size: 26px;
  font-weight: bold;
  margin-top:230px;
  position: static;

    
}
.top2{
  text-align:center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top:40px;
  position: static;
  
  
}

.top3 {  
  text-align:center;
  color: silver;
  font-size: 40px;
  font-weight: bold;
  margin-top:80px;
  position: static;

    
}


