/*--bottomner--*/
.banner{
    background: url(https://scontent.xx.fbcdn.net/hphotos-xta1/t31.0-8/12657925_884170335015250_5345697793293910154_o.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 950px;
}

/*--header--*/
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
    bottom: -30%;
    z-index: 0;
    right: -13%;
}
.slider-top span{
  font-weight:600;
}
.callbacks_tabs li{
      display: block;
    margin: 0.3em 0em;
}

/*----*/

.banner-info {
  margin-top: 26em;
  text-align: center;
}
.banner-info h3 {
  font-size: 70px;
  font-weight: 400;
  color: #e1542c;
  margin-bottom: 0.3em;
}
a.con {
  border: 3px solid black;
  color: black;
  text-decoration: none;
  overflow : hidden;
  font-size: 1.2em;
  cursor: pointer; 
  padding: 0.8em 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;  
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
}
a.con:hover{
  background:#e1542c;
  text-decoration: none;
  color:white;
}



/*      5.3: Services section ("What we do")
/* ---------------------------------------------- */

.services-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: #F8F8F8 #F8F8F8  #e1542c #e1542c; /* Primary color, can be changed via colors.css */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: border-color .2s ease-in-out;
       -moz-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}


.services-item{
    background: #F8F8F8 ;
    padding: 30px 20px 20px;
    margin: 15px 0 80px ;
    position: relative;
    color: #fff;
    overflow: hidden;
     -webkit-transition: background .5s ease-in-out;
        -moz-transition: background .5s ease-in-out;
             transition: background .5s ease-in-out;
}

.services-item h2{
    color: #e1542c;
}    

.services-item h4{
    color: #e1542c;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}


.services-item p{
    padding: 0;
    margin: 0;
    color:#999;
    font-size: 16px;
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}


.services-item i{
    color: #e1542c;
    padding: 0;
    margin: 0 0 10px 0;
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}

.services-item:hover{
    background:#e1542c;
     -webkit-transition: background .2s ease-in-out;
        -moz-transition: background .2s ease-in-out;
             transition: background .2s ease-in-out;
}


.services-item:hover h4{
    color:#fff;
            transform: translate(0,-5px);
     -webkit-transform: translate(0,-5px);
          -o-transform: translate(0,-5px); 
        -moz-transform: translate(0,-5px);
     -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
             transition: all .3s ease-in-out;
}

.services-item:hover p{
    color:#fff;
            transform: translate(0,-10px);
     -webkit-transform: translate(0,-10px);
          -o-transform: translate(0,-10px); 
        -moz-transform: translate(0,-10px);
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}

.services-item:hover i{
    color:#fff;
            transform: translate(0,-5px);
     -webkit-transform: translate(0,-5px);
          -o-transform: translate(0,-5px); 
        -moz-transform: translate(0,-5px);
     -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
             transition: all .2s ease-in-out;
}

.services-item:hover:before{
    border-color: #F8F8F8  #F8F8F8  #555  #555;
    -webkit-transition: border-color .2s ease-in-out;
       -moz-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
}






/*-- video --*/
/*      5.2: About section
/* ---------------------------------------------- */
.about h2{
  font-size: 34px;
  text-align: center;
}
.about h3{
  font-size: 20px;
}
.about h2,.about h3{
    margin: 0 0 10px 0;
    padding: 0;
}

blockquote { 
    display: block;
    font-size: 22px;
    position: relative; 
    padding-left: 90px;
    color: #e1542c;
    border-color: #e1542c;
}
 
blockquote:before {
    content: "\f10d";
    font-size: 55px; 
    font-family: FontAwesome;
    position: absolute;
    top: -4px;
    left: 20px;
}

blockquote span:before{
    content:'--';
    padding: 0 10px 0 0;
}

blockquote span{
    padding: 10px 0;
    display: block;
    font-size: 16px;
    color: #999;
}

.embed-responsive{
 margin-top: 30px;
 padding-top: 100px;
}
/*-- //video --*/




/*--Starts-Responsive--*/
@media (max-width:1440px){
  .banner {
      min-height: 860px;
  }

  .banner-info h3 {
      font-size: 5.5em;
  }
}
@media (max-width:1366px){
  .banner {
     min-height:750px;
  }
  .banner-info {
    margin-top: 23em;
    text-align: center;
  }
  h3.tittle {
      font-size: 2.7em;
  }
}
@media (max-width:1280px){
  .banner {
   min-height: 700px;
  }
  .banner-info h3 {
    font-size: 5em;
  }

}
@media (max-width:1024px){
  .banner {
    min-height: 620px;
  } 
  .banner-info {
    margin-top: 18em;
    text-align: center;
  }
  .banner-info h3 {
    font-size: 4.2em;
  }
  a.con {
    font-size: 1.2em;
    padding: 0.8em 2em;
    margin-top: 0.8em;
  }

   .ab-text h2 {
    font-size: 2em;
  }

  a.con {
    font-size: 1.1em;
    padding: 0.8em 1.6em;
    margin-top: 0.8em;
    }
 
  .demo-text h4 {
      font-size: 2em;
  }
 
}
@media (max-width:991px){
  .banner {
    min-height: 580px;
  }

  .banner-info {
    margin-top: 14em;
    text-align: center;
  }
  .banner-info h3 {
    font-size: 3.8em;
  }
  .demo-img {
    padding: 0;
  }
  .demo-text {
    margin-top: 2em;
    padding: 0;
  }

  #demo {
    padding: 4em 0;
  }
  
}
@media (max-width:800px){
  .banner {
    min-height: 580px;
  }

  .ab-text {
    padding-left: 0;
    margin-top: 1em;
  }
   
  .banner-info {
    margin-top: 14em;
    text-align: center;
  }
  .banner-info h3 {
    font-size: 3.8em;
  }
 
  .demo-img {
    padding: 0;
  }
  .demo-text {
    margin-top: 2em;
    padding: 0;
  }

  #demo {
    padding: 4em 0;
  }
  
}
@media (max-width:768px){
  .banner {
    min-height: 550px;
  }
   
 
  .demo-top {
    margin-top: 3em;
  }
  .demo-text h4 {
    font-size: 1.8em;
  }
  
}
@media (max-width:736px){
  
}
@media (max-width:640px){
  .banner {
    min-height: 500px;
  }
  .banner-info h3 {
    font-size: 3em;
  }
  .banner-info {
    margin-top: 12em;
    text-align: center;
  }

  .banner-info h3 {
      font-size: 2.5em;
  }
  a.con {
    font-size: 1em;
    padding: 0.8em 1.6em;
    margin-top: 1.4em;
  }

}
@media (max-width:480px){
  .banner {
    min-height: 359px;
  }
 
  .banner-info {
    margin-top: 11em;
    text-align: center;
  }
  a.con.two {
    margin-top: 0.8em;
  }



}
@media (max-width:384px){

  div#service {
    padding: 2.5em 0;
  }
  .top-grid,.top-grid:nth-child(3) {
    float: left;
    width: 100%;
    padding: 0;
    margin-right: 0;
    margin-bottom: 9%;
  }
  .top-grid:nth-child(3){
    margin-bottom:0%;
        margin: 0 0%;
  }
 
  .banner {
    min-height: 274px;
  }
  .banner-info {
    margin-top: 9em;
  }
  .banner-info h3 {
    font-size: 1.8em;
  }
  a.con {
    font-size: 1em;
    padding: 0.6em 1.3em;
    margin-top: 0.5em;
  }
 
 

  .ab-left span {
      font-size: 2.2em;
      margin-top: 5%;
  }
  .ab-left p {
      font-size: 0.9em;
  }
  .ab-text p {
    margin: 0.5em 0;
    font-size: 0.9em;
  }
  
 

  #demo {
    padding: 2.5em 0;
  }
  h3.tittle {
    font-size: 2.2em;
    text-align: center;
  }
}
@media (max-width:375px){

  div#service {
    padding: 2.5em 0;
  }
  .top-grid,.top-grid:nth-child(3) {
    float: left;
    width: 100%;
    padding: 0;
    margin-right: 0;
    margin-bottom: 9%;
  }
  .top-grid:nth-child(3){
    margin-bottom:0%;
        margin: 0 0%;
  }
  
  .banner {
    min-height: 274px;
  }
  .banner-info {
    margin-top: 9em;
  }
  .banner-info h3 {
    font-size: 1.8em;
  }
  a.con {
    font-size: 1em;
    padding: 0.6em 1.3em;
    margin-top: 0.5em;
  }




  .ab-text p {
    margin: 0.5em 0;
    font-size: 0.9em;
  }

  
  #demo {
    padding: 2.5em 0;
  }
  h3.tittle {
    font-size: 2.2em;
    text-align: center;
  }
  

  
}
@media (max-width:320px){
  .banner-info h3 {
    font-size: 1.6em;
  }
  .banner {
    min-height: 245px;
  }
  .banner-info {
    margin-top: 8em;
  }

 
}