

 /*--- slider-css --*/
.banner1{
  background:url(https://scontent.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10258943_877999798965637_5565443447411652887_o.jpg) no-repeat 0px 0px;
  background-size:cover;
  min-height:900px;
}
.banner2{
  background:url(https://scontent.xx.fbcdn.net/hphotos-xat1/t31.0-8/12593742_877999792298971_4938179796606723411_o.jpg) no-repeat 0px 0px;
  background-size:cover;
  min-height:900px;
}
.banner3{
  background:url(https://scontent.xx.fbcdn.net/hphotos-xlp1/t31.0-8/12493525_877999838965633_640099131560879650_o.jpg) no-repeat 0px 0px;
  background-size:cover;
  min-height:900px;
}

.banner4{
  background:url(https://scontent.xx.fbcdn.net/hphotos-xtp1/t31.0-8/12489351_877999862298964_4495230933651084559_o.jpg) no-repeat 0px 0px;
  background-size:cover;
  min-height:900px;
}
.slider {
  position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides div.slid {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.caption{
  width: 100%;
  margin-top:16em;
}
.caption {
    text-align: center;
    width: 50%;
    margin: 24em auto 0;
}
.caption h3{
    font-size: 3em;
    text-transform: capitalize;
    color: #fff;
    font-family: 'ContrailOne-Regular';
}
.caption p{
  font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
    padding: 1em 0 2em;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
     border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background:#fff;
  border:2px solid#fff;
}
.callbacks_here a:after{
  background:#05a581;
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  display:inline-block;
  
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: 50px;
  z-index: 999;
  left: 47%;
}
.button {
  border: 3px solid black;
  padding: 20px 40px;
  text-decoration: none;
  overflow : hidden;  
  max-width:500px;  
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: .1em;  
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover{
  color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
}

.incredible {
    padding: 4em 0;
    text-align: center;
}
.incredible h3 {
    font-size: 3em;
    text-transform: capitalize;
    color: #333033;
   font-family: 'ContrailOne-Regular';
}
.incredible-grids {
    margin-top: 3em;
}
.incredible-grid h4{
  font-size:1.5em;
  text-transform:capitalize;
  margin:0.5em 0; 
  color:#333033;
  font-family: 'ContrailOne-Regular';
}
.incredible-grid p {
    font-size: 1em;
  line-height:1.8em;
  color: #777;
}
.training {
    padding: 0em 0 4em;
}
.training h3 {
    font-size: 3em;
    text-transform: capitalize;
    color: #333033;
   font-family: 'ContrailOne-Regular';
    margin-bottom: 0.5em;
}
.training-grid p {
    font-size: 1em;
  line-height:1.8em;
  color: #777;
  margin-top: 1em;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;  
   color: #e1542c;
}

.carousel-indicators li { visibility: hidden; }
 @media all and (transform-3d), (-webkit-transform-3d) {
.carousel-inner > .item {
-webkit-transition: -webkit-transform .6s ease-in-out;
 -o-transition:      -o-transform .6s ease-in-out;

perspective: 1000;
 }
.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
left: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
 left: 0;
-webkit-transform: translate3d(-100%, 0, 0);
 transform: translate3d(-100%, 0, 0);
}
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right,
.carousel-inner > .item.active {
 left: 0;
 -webkit-transform: translate3d(0, 0, 0);
   }
 }