#header-carousel .carousel-inner .item { 
  background-size: cover; 
  background-position: center; 
  width: 100%; 
  height: 950px;
  margin-top: 40px;

}
.slide, .title, .text { 
  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -ms-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  transition: all 0.5s ease;
  }

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;  
   color: #e1542c;
}

.more { 
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
}

  .title { 
  font-size: 34px;
  float:left;
  font-weight: bold;
  padding-top:130px;
  padding-left:220px; 
  opacity: 0;  
  margin-top: 150px;
  width: 100%;
  color: black;  
}
.text { 
  font-size: 22px;
  color:#e1542c;
  padding-top: 290px; 
  padding-left: 220px;
  opacity: 0; 
}

.button {
  border: 3px solid black;
  padding: 15px 20px;
  margin-top: 150px;
  margin-left: 215px;
  text-decoration: none;
  overflow : hidden;
  float:left;
  width:200px;
  cursor: pointer; 
  color: black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: .1em;  
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover{
  color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
  
}


/* ENDS header-carousel CSS 
===========================*/



.carousel-indicators li { visibility: hidden; }


 @media all and (transform-3d), (-webkit-transform-3d) {
.carousel-inner > .item {
-webkit-transition: -webkit-transform .6s ease-in-out;
 -o-transition:      -o-transform .6s ease-in-out;

perspective: 1000;
 }
.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
left: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
 left: 0;
-webkit-transform: translate3d(-100%, 0, 0);
 transform: translate3d(-100%, 0, 0);
}
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right,
.carousel-inner > .item.active {
 left: 0;
 -webkit-transform: translate3d(0, 0, 0);
   }
 }


@media only screen and (min-width : 1824px) {
  .title { 
  font-size: 40px;
  float:left;
  font-weight: bold;
  padding-top:130px;
  padding-left:220px; 
  opacity: 0;  
  margin-top: 150px;
  width: 100%;
  color: black;  
}
.text { 
  font-size: 28px;
  color:#e1542c;
  padding-top: 290px; 
  padding-left: 220px;
  opacity: 0; 
}


  .button {
    float: left;     
    font-size: 15px;

  }

  .button:hover{
  font-color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
  
  }
}


@media only screen and (min-width : 1224px) {
  .title { 
  font-size: 40px;
  float:left;
  font-weight: bold;
  padding-top:130px;
  padding-left:220px; 
  opacity: 0;  
  margin-top: 150px;
  width: 100%;
  color: black;  
}
.text { 
  font-size: 28px;
  color:#e1542c;
  padding-top: 290px; 
  padding-left: 220px;
  opacity: 0; 
}


  .button {
    padding:15px 18px;
    font-size: 15px;


 }
    .button:hover{
  font-color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
  
  }

}


@media only screen and(max-device-width : 1024px){ 
#header-carousel .carousel-inner .item { 
  background-size: cover; 
  background-position: center; 
  height: 500px;
  max-width: 1024px;
  margin-top: 70px;  
  
}
.item img{
  min-height: 500px;

    
}

  .title { 
  font-size: 30px;
  float:left;
  font-weight: bold;
  padding-top:130px;
  padding-left:220px; 
  opacity: 0;  
  margin-top: 150px;
  width: 100%;
  color: black;  
}
.text { 
  font-size: 20px;
  color:#e1542c;
  padding-top: 290px; 
  padding-left: 220px;
  opacity: 0; 
}


  .button {
    padding:15px 18px;
    font-size: 15px;


 }
    .button:hover{
  font-color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
  
  }


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 480px) {
#header-carousel .carousel-inner .item { 
  background-size: cover; 
  background-position: center; 
  height: 500px;
  margin-top: 40px;
  
  
}
  .item img{
    min-height: 500px;
    
  }

  .title { 
  font-size: 30px;
  float:left;
  font-weight: bold;
  padding-top:130px;
  padding-left:220px; 
  opacity: 0;  
  margin-top: 150px;
  width: 100%;
  color: black;  
}
.text { 
  font-size: 20px;
  color:#e1542c;
  padding-top: 290px; 
  padding-left: 220px;
  opacity: 0; 
}


  .button {
    padding:10px 20px;
    font-size: 10px;


  }
    .button:hover{
  font-color:black;
  background-color: white;
  text-decoration: none;
  background-position: -100% 100%;
  
  }
}