/*-- contact --*/
.contact {
 margin-top: 100px;
}
.contact-form {
	padding-top: 3em;
}
.contact-form-left {
	
float: left;
margin-left: 100px;
margin-bottom: 100px;
}

.contact-form-right {
 float: right;
 margin-right: 100px; 
 margin-top: -20px;

}

.contact-form-right p {
	color: #999;
    font-size: 14px;
    margin: 0 auto 1em;
    line-height: 1.8em;
}
.contact-form-right h2 {
margin-top: 0;
 margin-bottom: 50px;
 color: #57585A;

}

.contact-form-right h4{
	margin-bottom: 20px;
	color:  #A6A9AB;
}
.contact-form-right a{
	color: #A6A9AB;
	font-size: 17px;
	text-decoration:none;
	font-family: 'Josefin Sans', sans-serif;
}
.contact-form-right a:hover{
	color:#D1D2D4;
	text-decoration:none;
	transition:.5s all;
}

.contact h5 {
line-height: 30px;
color: #808184;
}


/*-- //contact --*/

@media screen and (max-width:991px){
.contact-form-left {
	
margin-left: 0;
}

.contact-form-right {

 margin-right: 0; 
}


.map-img {

width:350px;	
float: left;
margin-left:0;
}

.contact-form-right h5, .contact-form-right a, .contact-form-right h4, .contact-form-right h2 {

}

}




@media screen and (max-width:480px){
.map-img{
width:330px;	
float: left;
margin-left:0;
}
.contact-form-right h5, .contact-form-right a, .contact-form-right h4, .contact-form-right h2 {
	
}
.contact-form-left {
	
margin-left: 0;
}

.contact-form-right {

 margin-right: 0; 
}

 
}

@media screen and (max-width:320px){
.map-img{
width:300px;	
float: left;
margin-left:0;
}
.contact-form-right h5, .contact-form-right a, .contact-form-right h4, .contact-form-right h2 {

}

.contact-form-left {
	
margin-left: 0;
}

.contact-form-right {

 margin-right: 0; 
}

 
}