.pro-watch {
 float: left;
}


p {
    font-size: 20px;
    margin-top: 20px;
    padding: 0 50px 0 0px;
}
.product-info {
  font-size: 18px;
  color: #696969;
line-height:170%;


}
.simpleCart_shelfItem{
  margin-top: -18px;
}
.product-title{
  font-size: 25px;
  color: #696969;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}
.single{
    margin-top:100px;

}
.product{
    margin-top:25px;
}

.img-responsive{
 width: auto;   
}
.qty{
  float: left;
  color:#A9A9A9;
  font-size: 12px;
  margin-top: 20px;
}

.product-quantity {  

float: left;

  }
input[type=number] {
  line-height: 27px;
  width: 90px;
  text-align: center;
}


.total{
  font-size: 25px;
  color: #696969;
  float: left;
}

.product-line-price {
    font-size: 23px;    
    float: right;
         

  }

.product-price{

    color: #696969;
    font-size: 25px;    
    margin:0 0 5px;
    display:block;
}

.jumbotron{
  width: 100%;
}
.btn_form a {
    outline: none;    
    margin-left: 15px;
    display: inline-block;
    font-size: 0.9em;
    padding: 0 195px;
    color: white;
    background-color: #D3D3D3;
    border: 2px solid #D3D3D3;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-bottom: 1em;

    
}
.btn_form a:hover {
    background: transparent;
    text-decoration: none;
    background-color: #e1542c;
    border: 2px solid #e1542c;
    color:white;
}

.item-title h3{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.info-title{
  font-size: 18px;
  text-align: center;
}

.info-section{
  background-color: white;
}


.welcome-left{
    float: right;
    width: 50%;
    padding: 100px 0 3em 0;
}
.welcome-left h3,.about-left h3{
  color: #e1542c;
    font-family: 'Mandali-Regular';
    margin: 0;
    font-size: 30px;
}
.welcome-left p,.about-left p{
  color: #B0B0B0;
    font-size: 15px;
    margin: 0;
    line-height: 2em;
}

.welcome-right {
    width: 100%; 
    background: url(https://scontent.xx.fbcdn.net/hphotos-xpt1/t31.0-8/12622444_877999828965634_4865635462387847944_o.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 700px;
}

@media (max-width:991px){


  .btn_form a {
    padding: 0 180px ;
    float: right;
  }
  .welcome-right {
    min-height: 463px;
  }

}
@media (max-width:800px){

  .btn_form a {
    padding: 0 170px ;
    float: right;
  }
  .welcome-left {
    padding: 2em 2em 2em 2em;
  }
  .welcome-left h4 {
    font-size: 1.3em;
  }

}
@media (max-width:768px){

  .btn_form a {
    padding: 0 170px ;
    float: right;
  }
  .welcome-left {
    float: none;
    width: 100%;
  }
  .welcome-right {
    width: 100%;
    float: none;
  }

}


@media (max-width:480px){


  .btn_form a {
    padding: 0 50px ;
    float: right;
  }
  .welcome-left h3, .about-left h3 {
    font-size: 2em;
  }
  .welcome-left h4, .about-left h4 {
    font-size: 1.3em;
  }

}
@media (max-width:320px){

  .btn_form a {
    padding: 0 50px ;
    text-align: center;
    
  }

  .welcome-left {
    padding: 1em;
  }
  .welcome-left h3, .about-left h3 {
    font-size: 1.5em;
  }
  .welcome-left h4, .about-left h4 {
    font-size: 1em;
  }
  .welcome-left p, .about-left p {
    font-size: .8em;
    line-height: 1.7em;
  }
  .welcome-right {
    min-height: 160px;
  }


}