p {
    font-size: 20px;
    margin-top: 20px;
    padding: 0 50px 0 0px;
}

.product-title{
  font-size: 30px;
  font-weight: bold;
  color: #e1542c;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}
.single{
    margin-top:130px;
}
.product{
    margin-top:70px;
}

.img-responsive{
 width: auto;   
}
.qty{
  float: left;
  color:#0074D9;
}

.product-quantity {  
 padding-top: 24px;
 margin-right: 80px;
 text-align: right;

  }
input {
  line-height: 22px;
  width: 90px;
  text-align: center;
}


.product-price{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 5px;
    display:block;
}

.product-line-price {
    font-size: 23px;
    padding-top: 52px;    
    float: left;
    text-align: left;  

  }

.btn_form a {
    float: right;
    margin:50px 80px;
    outline: none;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border: 2px solid #e1542c;
    background: #e1542c;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-bottom: 1em;
}
.btn_form a:hover {
    background: transparent;
    border-color: #5D4B33;
    color:#5D4B33;
    text-decoration: none;
}




